:root{
    /* color vars */
    --header-color:rgb(55, 143, 102);
    --nav-color: rgb(251, 255, 37);
    --nav-hover-color: black;
    --btn-color:#0ddf99;
    --btn-hover-color: orange;
    --questions-color: rgba(66, 68, 49, 0.493);
    --answers-color: rgba(37, 243, 250, 0.267);
    --answers-hover-color: rgb(255, 115, 0);
    --right-answer-color: rgb(136, 228, 124);
    --cat-color: rgb(189, 34, 60);
    --icon-color:white;
    --icon-hover-color:cornflowerblue;
    --font-color: white;
    
    
}